body, html {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    margin: 0 auto;
    width: 500px;
    background-color: #868e96;
    padding: 5px;
    border: 2px solid black;
}

.heading {
    background-color: #17a2b8;
    padding: 5px;
    border: 2px solid black;
}

h1 {
    color: white;
}

th, td {
    border: 2px solid black;
}

table {
    border-collapse: separate;
    width: 100%;
}

th {
    height: 30px;
    background-color: #17a2b8;
    color: white;
}

tbody {
    background-color: white;

}

td {
    text-align: center;
    padding: 5px;
}


.form {
    margin-top: 20px;

}

input {
    font-size: 20px;
    border: 2px solid black;
}

#content {
    width: 60%;
}