{% extends 'base.html' %}

{% block head %}
<title>KWGen: KeyWord Generator (Web App - Proof of concept)</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="heading">
        <h1 style="text-align: center">KeyWord Generator</h1>
    </div>
    
    
    <br>
    
    <h3>Instructions:</h3>
    
    <p>
        Input a CSV published to the web (from Google Sheets). Upon successful import, the download will begin shortly.
    </p>

    <!-- Form to input link to CSV published to the web -->
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Process Keywords" style="color: white; background-color: #17a2b8;">
        </form>
    </div>

    <br>

    <!-- Display table of sample input file -->
    <div class="table">
        <!-- <a href="https://docs.google.com/spreadsheets/d/1GUhwMcD5lrq7usFESZj8ksQtmdLOq6c6-eQ6zVd8CaU/edit?usp=sharing" target="_blank"><h3>Sample Input File:</h3></a> -->
        <a href="https://docs.google.com/spreadsheets/d/1Q5Az7veZZrKI4NLB6-xDUwgAgiz5W7dVWOztcOHJ2a0/edit?usp=sharing" target="_blank"><h3>Input File Template:</h3></a>
        
        <br>

        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRUV9Ip0ATXlgwAZFqdQ-kIHXNRSgqfm_o7-dTtDJj9IO9m4R_LAEPmV-VAbuPQ4UJHXvCX2oM8rgXh/pub?gid=0&single=true&output=csv" target="_blank"><h3>Sample Input (Demo):</h3></a>
        <table>
            <thead>
                <tr>
                    <th>Campaign Name</th>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            
            <tbody>
                
                <tr>
                    <td>*campaign name goes here*</td>
                    <td>Bayern</td>
                    <td>Munich</td>
                    <td>won</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bundesliga</td>
                    <td>DFB Pokal</td>
                    <td>UEFA Champions League</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bayern</td>
                    <td>beat</td>
                    <td>Barcelona</td>
                </tr>
                <tr>
                    <td></td>
                    <td>8</td>
                    <td>to</td>
                    <td>2!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- Form to upload CSV file from local system (need to resolve encoding issue)
     <div class="form">
        <form action="/" method="POST">
            <input type="file" accept= ".csv" name="content" id="content">
            <input type="submit" value="Upload CSV">
        </form>
    </div>
    -->
</div>
{% endblock %}
