{% extends 'base.html' %}

{% block head %}
<title>KWGen: KeyWord Generator (Web App - Proof of concept)</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="heading">
        <h1 style="text-align: center">KeyWord Generator</h1>
    </div>
    
    
    <br>
    
    <h3>Instructions:</h3>
    
    <p>
        Input a CSV published to the web (from Google Sheets). Upon successful import, the download will begin shortly.
    </p>

    <!-- Form to input link to CSV published to the web -->
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Process Keywords" style="color: white; background-color: #17a2b8;">
        </form>
    </div>

    <br>

    <!-- Display table of sample input file -->
    <div class="table">
        <h3>Sample Input File:</h3>
        <table>
            <thead>
                <tr>
                    <th>Campaign Name</th>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            
            <tbody>
                
                <tr>
                    <td>*campaign name goes here*</td>
                    <td>She</td>
                    <td>Sells</td>
                    <td>Seashells</td>
                </tr>
                <tr>
                    <td></td>
                    <td>By</td>
                    <td>The</td>
                    <td>Seashore</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Columns Do Not</td>
                    <td>Need To Be</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>The Same Length</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- Form to upload CSV file from local system (need to resolve encoding issue)
     <div class="form">
        <form action="/" method="POST">
            <input type="file" accept= ".csv" name="content" id="content">
            <input type="submit" value="Upload CSV">
        </form>
    </div>
    -->
</div>
{% endblock %}